**Función:** crear un sub dataset 10k limpio combinando los 5 ficheros de fotos reclasificadas

**Requiere:**
- ../datasets/food.json
- ../datasets/inside.json
- ../datasets/outside.json
- ../datasets/drink.json
- ../datasets/menu.json

**Crea:**
- ..datasets/df_clean_withKO.json
- ../datasets/df_clean.json

In [ ]:
import pandas as pd
import json

In [ ]:
ejecutadoEnGoogleDrive = False # True si se ejecuta en Google Drive

In [ ]:
if ejecutadoEnGoogleDrive:
    from google.colab import drive
    drive.mount('/content/drive')
    PATH = '/content/drive/clasificacion_imagenes'
else:
    PATH = '../'

Mounted at /content/drive

In [ ]:
df_food = pd.read_json(PATH + 'datasets/food.json')
df_inside = pd.read_json(PATH + 'datasets/inside.json')
df_outside = pd.read_json(PATH + 'datasets/outside.json')
df_drink = pd.read_json(PATH + 'datasets/drink.json')
df_menu = pd.read_json(PATH + 'datasets/menu.json')
df_revisado = pd.concat([df_food, df_inside, df_outside, df_drink, df_menu], axis=0)
df_revisado.reset_index(inplace=True, drop=True)
df_revisado.tail()

                    photo_id original_label reclass_label status
9449  6dFTuMn4DCaMFslCGzRkJw           menu          menu     OK
9450  pYrAKf1qGlgoFnJ_3xqoSw           menu          menu     OK
9451  w8rX2hgdiYF0LSGLx5n6GQ           menu          menu     OK
9452  RhJXvYqAbeM5ELIzvYJSYQ           menu          menu     OK
9453  1QOJhbOLw_Df4VCEx8ALFg           menu          menu     OK

In [ ]:
df_revisado = df_revisado.to_json(PATH + 'datasets/df_clean_withKO.json', orient='records')

In [ ]:
df_revisado.reclass_label.value_counts()

food       4786
inside     2150
KO         1142
drink       677
outside     611
menu         88
Name: reclass_label, dtype: int64

In [ ]:
df_final = df_revisado[df_revisado['reclass_label'].isin(['KO']) == False]
df_final.reset_index(inplace=True, drop=True)
df_final.tail()

                    photo_id original_label reclass_label status
8307  6dFTuMn4DCaMFslCGzRkJw           menu          menu     OK
8308  pYrAKf1qGlgoFnJ_3xqoSw           menu          menu     OK
8309  w8rX2hgdiYF0LSGLx5n6GQ           menu          menu     OK
8310  RhJXvYqAbeM5ELIzvYJSYQ           menu          menu     OK
8311  1QOJhbOLw_Df4VCEx8ALFg           menu          menu     OK

In [ ]:
df_final.reclass_label.value_counts()

food       4786
inside     2150
drink       677
outside     611
menu         88
Name: reclass_label, dtype: int64

In [ ]:
df_final = df_final[['photo_id', 'reclass_label']]

In [ ]:
df_final

                    photo_id reclass_label
0     fB-J1F60DgMRoc8eI0z0Ew          food
1     n2hdfzYgxL0twgfSDbro1w          food
2     Z77aLYI_SvAl7PaJ62umJQ          food
3     tBdw-FR8aNZcJLa5bX-SdA          food
4     z-ftfswcyAAERjoMzKFJ5A          food
...                      ...           ...
8307  6dFTuMn4DCaMFslCGzRkJw          menu
8308  pYrAKf1qGlgoFnJ_3xqoSw          menu
8309  w8rX2hgdiYF0LSGLx5n6GQ          menu
8310  RhJXvYqAbeM5ELIzvYJSYQ          menu
8311  1QOJhbOLw_Df4VCEx8ALFg          menu

[8312 rows x 2 columns]

In [ ]:
df_final = df_final.to_json(PATH + 'datasets/df_clean.json', orient='records')